<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,cyrillic" rel="stylesheet"
				type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,600&subset=latin,cyrillic" rel="stylesheet"
				type="text/css">

	<!-- Это вставляется, исходя из манифетса -->
	<link rel="stylesheet" type="text/css" href="discount-request.css">
</head>
<body>
<!-- Этот div предоставляют партнеры-->
<div id="root">
	<div class="header">
		<div class="header__text">Номер карты</div>
		<div class="header__hint">Введите номер карты</div>
	</div>


	<div class="input">
		<div class="input__item">
			<input type="tel" maxlength="4" placeholder="0000"/>
		</div>
		<div class="input__item">
			<input type="tel" maxlength="4" placeholder="0000"/>
		</div>
		<div class="input__item">
			<input type="tel" maxlength="4" placeholder="0000"/>
		</div>
		<div class="input__item">
			<input type="tel" maxlength="4" placeholder="0000"/>
		</div>
	</div>

	<div class="error">Карта с таким номером не найдена</div>

	<div class="button">
		<button name="apply-discount-button">Получить скидку</button>
		<button name="skip-button">Пропустить</button>
	</div>
</div>

<!-- Это вставляется исходя из манифетса -->
<script type="text/javascript" src="discount-request.js"></script>
</body>
</html>